<div class="">
    <header>
      <h1>MISIÓN</h1>

      <h3>PagosVirtual S.A. es una empresa de servicios especializada en el recaudo de pagos masivos, establecida para satisfacer las necesidades de la población de manera amable, confiable y eficiente, en la cancelación de sus facturas, apoyo a las Empresas Prestadoras de Servicios en su recaudo y procesamiento de información, y complemento de la operación bancaria en la atención de Usuarios y consolidación de recursos.
      </h3>
      <br><br>
      <button>MAS INFO</button>
    </header>
  <img class="ilustracion" ngSrc="assets/home.svg" alt="" height="700" width="700">
</div>
